
body {
  background: black;
}

.box {
  /* opacityに対して、1秒かけてアニメーションする指定 */
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: ease-in;
  opacity: 100;
}

.box {
  /* Box Styling */
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
}

